html,
body {
    font-family: 'Montserrat', sans-serif;
}

.down-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.down-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.up-left {
    position: fixed;
    top: 0;
    left: 0;
}

.up-right {
    position: fixed;
    top: 0;
    right: 0;
}

.header {
    position: relative;
    max-width: 1231px;

    margin: auto;
    margin-top: 22px;
    display: flex;
    justify-content: center;
}

.navigation {
    font-family: 'Raleway', sans-serif;
}

.list {
    display: flex;
    list-style: none;
}

.item-link {
    color: black;
    text-decoration: none;
    margin: 0px 25px;

    font-size: 24px;
    line-height: 28px;
}

.welcome {
    position: relative;
    margin: 178px 375px 0px auto;

    text-align: right;
}

.title {
    margin: 0px 0px 25px 0px;

    color: black;
    font-size: 64px;
    line-height: 78px;
}

.description {
    margin: 0px 0px 80px auto;
    max-width: 700px;

    color: black;
    font-size: 36px;
    line-height: 44px;
}

.button {
    border: 1px solid black;
    border-radius: 40px;
    padding: 20px 96px;
    text-decoration: none;
    color: white;
    background-color: black;

    font-size: 48px;
    line-height: 59px;
}

.piano {
    position: relative;
    text-align: center;
    margin-top: 140px;
}

.nowplaying {
    font-size: 48px;
    line-height: 59px;
    color: black;
    transition: all .07s ease;
}

.structure,
.sense {
    font-size: 24px;
    line-height: 29px;
    color: black;
}

hr {
    max-width: 1000px;
    width: 60%;

    margin: 20px auto;
}

.key {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    transition: all .07s ease;

    font-size: 36px;
    line-height: 60px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.first-row {
    display: flex;
    justify-content: center;
}

.second-row {
    display: flex;
    justify-content: center;
}

.third-row {
    display: flex;
    justify-content: center;
}

.fourth-row {
    display: flex;
    justify-content: center;
}

.playing {
    transform: scale(.95);
    border-color: #06D6A0;
}